<li>
    {{beer_name}}

    <button class="change-quaffed" data-id="{{id}}" data-newquaff="{{quaffed}}">
        {{#if quaffed}}CHEERS!{{else}}WAKE UP!{{/if}}
    </button>

    {{!-- <button class="delete-beer" data-id="{{this.id}}">CHEERS!</button> --}}
</li>