<li>
    {{beer_name}}

    {{#if quaffed}}
    <button class="change-quaffed" data-id="{{id}}" data-newquaff="{{quaffed}}">CHEERS!
    </button>
    {{else}}
    <button class="delete-beer" data-id="{{id}}">Clear empty glass</button>
    {{/if}}
    {{!-- <button class="delete-beer" data-id="{{this.id}}">CHEERS!</button> --}}
</li>